body{
    font-family: "Montserrat", sans-serif;
    color: #fff;
    background-color: #000;
    margin: 0;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
}
.sidebar{
    background-color: yellow;
    width: 340px;
}
.main-content{
 background-color: blue;
 flex: 1;
}

.music-Player{
   background-color: red;
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 72px;
}